@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
</head>
<body>
      @section Sidebar{
      <div class="area"></div>
        <nav class="main-menu nav">
            <div class="image">
                <img src="~/assets/img/Fondo.jpg" alt="logo" width="50px" height="50px">
            </div>
            <ul class="d-flex flex-column gap-3">
              <li class="mt-5">
                  <a asp-controller="Employees" asp-action="Index">
                      <i class="fa fa-home fa-2x"></i>
                      <span class="nav-text">
                          Inicio
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Usuarios
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Turnos
                      </span>
                  </a>
              </li>
              <li>
                  <a asp-controller="Create" asp-action="Index">
                      
                      <span class="nav-text">
                          Empleados
                      </span>
                  </a>
              </li>
            </ul>

            <ul class="logout">
                <li>
                    <a asp-controller="Empleados" asp-action="Index">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <span class="nav-text gap-2">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
    }

    <!--Cartas-->
    <div class="container mt-5">
        <h1 class="text-center">CRM La Misericordia</h1>
        <div class="row RowTable">
            <div class="col-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Turnos Totales</h2>
                        <p class="text-center">@ViewBag.Contador</p>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Medicamentos</h2>
                        <p class="text-center">@ViewBag.contador2</p>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Turnos Pagos</h2>
                        <p class="text-center">11</p>
                    </div>
                </div>
            </div>
            <div class="col-3 mb-5">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Turnos General</h2>
                        <p class="text-center">11</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Usuarios Totales</h2>
                        <p class="text-center">11</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Admin</h2>
                        <p class="text-center">@ViewBag.contadorAdmins</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Empleados</h2>
                        <p class="text-center">@ViewBag.contadorAsesor</p>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-dark text-center">Usuarios</h2>
                        <p class="text-center">@ViewBag.contadorUsuarios</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-lg-5">
            <div class="row RowTable">
                <div class="col-md-12">
                    <div class="card h-100">
                        <div class="card-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



