@{
  ViewData["Title"] = "Turnos";
}

<head>
  <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/css/SkormJF.css" asp-append-version="true" />  
</head>

  
@section Sidebar{
    <header>
        <nav class="nav_top">
            <ul>
                <li>
                    <a asp-controller="Empleados" asp-action="Home">
                        <lord-icon
                            src="https://cdn.lordicon.com/laqlvddb.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Inicio</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Empleados">
                        <lord-icon
                            src="https://cdn.lordicon.com/zorvjzqh.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon> <!-- imagen -->
                        <span class="nav_text">Empleados</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Turnos">
                    <lord-icon
                        src="https://cdn.lordicon.com/wzwygmng.json"
                        trigger="hover"
                        stroke="bold"
                        colors="primary:#109121,secondary:#ffffff"
                        class="nav_icon">
                    </lord-icon> <!-- imagen -->
                    <span class="nav_text">Turnos</span> 
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Usuarios">
                        <lord-icon
                            src="https://cdn.lordicon.com/wzrwaorf.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">Usuarios</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Admin" asp-action="Index">
                        <lord-icon
                            src="https://cdn.lordicon.com/abwrkdvl.json"
                            trigger="hover"
                            stroke="bold"
                            colors="primary:#109121,secondary:#ffffff"
                            class="nav_icon">
                        </lord-icon><!-- imagen -->
                        <span class="nav_text">CMR</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
}

<section class="Submain">
  <div class="container Border Overflow">
    <h1 class="text-center">Listado de Turnos</h1>
    <div class="row RowTable">
      <div class="col-md-9">
        <div class="top d-flex gap-5 mb-4">
          <form class="form d-flex justify-content-evenly" asp-controller="Admin" asp-action="SearchTurno" method="get">
              <input class="form-control" type="text" name="SearchString" placeholder="Buscar...">
              <button class="btn btn-sm btn-primary" type="submit">Search</button>
          </form>
          <div class="button d-flex gap-5">
            <a class="btn btn-sm btn-dark" asp-controller="Admin" asp-action="Medicamentos">Medicamentos</a>
            <a class="btn btn-sm btn-dark" asp-controller="Admin" asp-action="Pagos">Pagos</a>
            <a class="btn btn-sm btn-dark" asp-controller="Admin" asp-action="General">General</a>
          </div>
        </div>


        <table class="table table-hover table-striped text-center">
          <thead class="table table-dark text-center">
            <tr class="text-center">
              <th scope="col">Id</th>
              <th scope="col">tipo de servicio</th>
              <th scope="col">Codigo</th>
              <th scope="col">Fecha de inicio</th>
              <th scope="col">Fecha fin</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @foreach(var Turnos in Model){
                <tr class="text-center">
                    <th scope="row">@Turnos.Id</th>
                    <td>@Turnos.typeServicio</td>
                    <td>@Turnos.NameTurno</td>
                    <td>@Turnos.FechaHoraInicio</td>
                    <td>@Turnos.Estado</td>
                    <td>@Turnos.Modulo</td>
                    <td class="d-flex gap-3 justify-content-center">
                        <button onclick="Confirm(@Turnos.Id)" class="btn btn-sm btn-danger">Eliminar</button>
                    </td>
                </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>


