@{
    ViewData["Title"] = "Home";
}

<head>
    <link rel="stylesheet" href="~/css/SkormJF.css" />
</head>
<<<<<<< HEAD

<section class="Main">
    <div class="Info">
        <a class="btn btn-lg btn-dark" asp-controller="Empleados" asp-action="Logout">Cerrar Sesión</a>
        <h1 class="text-center mb-4">Asesor del Módulo # @ViewBag.modulo</h1> 
=======
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a class="btn btn-xm btn-dark mb-3 mt-3 w-100" asp-controller="Empleados" asp-action="Logout">Cerrar Sesión</a>
        </div>
        <div class="col-md-2">
            <form asp-controller="Empleados" asp-action="ReiniciarTurno" method="post">
                <button class="btn btn-xm btn-warning mb-3 mt-3 w-100">Resetear Turnos</button>
            </form>
        </div>
        
        <h1 class="text-center mb-4">Asesor del Módulo # @ViewBag.modulo</h1>    
>>>>>>> dd8e498787beb113070bf160e48a7a4055b9848d
    </div>
    @ViewBag.contador
    <div class="Pantalla">
        <div class="Titulo">
            <lord-icon
                class="Icono"
                src="https://cdn.lordicon.com/mebvgwrs.json"
                trigger="hover"
                stroke="bold"
                state="hover-wave"
                colors="primary:#121331,secondary:#f9c9c0,tertiary:#66d7ee,quaternary:#545454,quinary:#66d7ee">
            </lord-icon>
            <h1>Turnos en pantalla</h1>
        </div>
        <div class="InfoTablas">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento de usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Modulo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        if(@Turnos.Estado == "En proceso"){
                            <tr>
                                <th scope="row">@Turnos.Id</th>
                                <td>@Turnos.NameTurno</td>
                                <td>1023626270</td>
                                <td>@Turnos.Estado</td>
                                <td>@Turnos.Modulo</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Empleados" asp-action="Liberar" asp-route-id = "@Turnos.Id">Liberar</a>
                                    <a class="btn btn-danger" asp-controller="Empleados" asp-action="Ausente" asp-route-id= "@Turnos.Id">Ausente</a>
                                    <a class="btn btn-success" asp-controller="Empleados" asp-action="Llamar" asp-route-id="@Turnos.Id">Llamar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="Gestor">
        <div class="Titulo">
            <lord-icon
                class="Icono"
                src="https://cdn.lordicon.com/mebvgwrs.json"
                trigger="hover"
                stroke="bold"
                state="hover-wave"
                colors="primary:#121331,secondary:#f9c9c0,tertiary:#66eece,quaternary:#545454,quinary:#30e8bd">
            </lord-icon>
            <h1>Gestor de turnos</h1>
            <a class="btn btn-info" asp-controller="Empleados" asp-action="Medicamentos">Medicamentos</a>
            <a class="btn btn-primary" asp-controller="Empleados" asp-action="Pagos">Realizar Pagos</a>
            <a class="btn btn-danger" asp-controller="Empleados" asp-action="General">Cita General</a>
        </div>
        <div class="InfoTablas">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento De usuario</th>
                        <th scope="col">Tipo de Turno</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        if(@Turnos.Estado == "En espera"){
                            <tr>
                                <th scope="row">@Turnos.Id</th>
                                <td>@Turnos.NameTurno</td>
                                <td>1023626270</td>
                                <td>@Turnos.typeServicio</td>
                                <td>@Turnos.Estado</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Empleados" asp-action="SubirTurno" asp-route-id="@Turnos.Id">Subir Turno</a>
                                </td>

                            </tr>
                        }

                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</section>


<script src="https://cdn.lordicon.com/lordicon.js"></script>



@* <div class="container">
    <div class="top">
        <a class="btn btn-xm btn-dark mb-3 mt-3" asp-controller="Empleados" asp-action="Logout">Cerrar Sesión</a>
        @if(User.IsInRole("Admin"))
        {
            <a class="btn btn-xm btn-dark mb-3 mt-3" asp-controller="Admin" asp-action="Index">CRM</a>
            <a class="btn btn-xm btn-dark mb-3 mt-3" asp-controller="Admin" asp-action="Create">Crear Asesor</a>
            <a class="btn btn-xm btn-dark mb-3 mt-3" asp-controller="Admin" asp-action="Empleados">Listado de Asesores</a>
        }
        <h1 class="text-center mb-4">Asesor del Módulo # @ViewBag.modulo</h1>    
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <h1>Turnos en Pantalla</h1>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento de usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Modulo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        if(@Turnos.Estado == "En proceso"){
                            <tr>
                                <th scope="row">@Turnos.Id</th>
                                <td>@Turnos.NameTurno</td>
                                <td>1023626270</td>
                                <td>@Turnos.Estado</td>
                                <td>@Turnos.Modulo</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Empleados" asp-action="Liberar" asp-route-id = "@Turnos.Id">Liberar</a>
                                    <a class="btn btn-danger" asp-controller="Empleados" asp-action="Ausente" asp-route-id= "@Turnos.Id">Ausente</a>
                                    <a class="btn btn-danger" asp-controller="Empleados" asp-action="Llamar" asp-route-id="@Turnos.Id">Llamar</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <br>
            <br>
            <br>
            <div class="" >
                <h1>Gestor Turnos</h1>
                <a class="btn btn-info" asp-controller="Empleados" asp-action="Medicamentos">Medicamentos</a>
                <a class="btn btn-primary" asp-controller="Empleados" asp-action="Pagos">Realizar Pagos</a>
                <a class="btn btn-danger" asp-controller="Empleados" asp-action="General">Cita General</a>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Documento De usuario</th>
                        <th scope="col">Tipo de Turno</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var Turnos in Model){
                        if(@Turnos.Estado == "En espera"){
                            <tr>
                                <th scope="row">@Turnos.Id</th>
                                <td>@Turnos.NameTurno</td>
                                <td>1023626270</td>
                                <td>@Turnos.typeServicio</td>
                                <td>@Turnos.Estado</td>
                                <td>
                                    <a class="btn btn-primary" asp-controller="Empleados" asp-action="SubirTurno" asp-route-id="@Turnos.Id">Subir Turno</a>
                                </td>

                            </tr>
                        }

                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div> *@


